@import 'utilities.scss';
@import 'config.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(22, 22, 22);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  width: 85%;
  padding: 10px;
  border-radius: 10px;

  background-color: rgb(75, 75, 75);
  @include responsiveGrid($breakpoints)
}

.item {
  padding: 10px;
  background-color: rgb(95, 95, 95);
  border-radius: 10px;
  margin: 5px;
}
